.join-queue-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.join-queue-form h1,
.join-queue-form h2 {
  color: #333;
}

.group-size-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-size-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.group-size-button:hover {
  background-color: #ccc;
  border-color: #999;
}

.group-size-button.selected {
  background-color: #0076ff;
  border-color: #0076ff;
  color: #fff;
}

.join-queue-form label {
  display: block;
  margin-bottom: 10px;
}

.phone-number-input {
  margin-bottom: 10px;
}

.join-queue-form input[type="text"],
.join-queue-form input[type="tel"] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
}

.join-queue-form input[type="checkbox"] {
  margin-right: 5px;
}

.join-queue-form button[type="submit"] {
  background-color: #0076ff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.join-queue-form button[type="submit"]:hover {
  background-color: #0056cc;
}

/* waitlist.css */

.waitlist-container {
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  justify-content: space-around;
  margin: 10px;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

button {
  background-color: #0076ff;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hours-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

/* Confirmation.css */
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.confirmation h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.confirmation p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.confirmation button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* party tracker */

.party-tracker-container {
  width: 100%;
  max-width: 480px; /* Adjust this value according to your desired maximum width */
  padding: 16px;
  box-sizing: border-box;
}

.party-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.parties-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
